{% extends 'layout.html' %}
{% block body %}


  <div class="container" style="align-items: center;margin:  auto; justify-content:center;">
    
   
    
    <!--<form class="d-flex " role="search" method='POST' action='{{url_for('search')}}' >
      {{form.hidden_tag()}}
    
      <input class="form-control " type="search" name='searched' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
       

    

  </div>
      <div style="display: flex; justify-content: space-between; margin: 10px 12px 0 12px; margin-top: 3vh;"> 
          <h4 style="color: #992621;  text-align: center;"><b>Alumni Generated Report</b></h4>
          <button type="button" class="btn" style="background: #992621; color: #fff;"> Print</button>
      </div>  
        <div class="container" style="background: #f2f2f2f2;" data-aos="fade-up" data-aos-duration="3000">
        <br>
          <div class="dashboard-item" >
            <table class="table">
              
                <thead style="text-align: center; color: #992621;">
                <tr >
                    <th scope="col">Full Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">Year Admitted</th>
                    <th scope="col">Year Completed</th>
                    <th scope="col">Department</th>
                    <th scope="col-1">View</th>
                </tr>
                </thead>
                {%for user in users%}
                <tbody style="text-align: center;">
                <tr>
                    <td scope="row">{{user.fullname}}</th>
                    <td>{{user.indexnumber}}</td>
                    <td>{{user.admitted}}</td>
                    <td>{{user.completed}}</td>
                    <td>{{user.department}}</td>
                    <td>
                      <a href="" class="table-#" style="height: 4vh; border-radius: 5px; width: 2vw; align-items: center; color: black;" >
                        <i class='bx bxs-show bx-border icon'></i>
                      </a>
                    </td>
                </tr>
               
                </tbody>
                {%endfor%}
            </table>
          </div>
        </div>

            

  </div>

  {% endblock body %}