{% extends 'userlayout.html' %}

{% block body %}




<div class="row" style="text-align: center; margin: auto;">
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/allschools" style="text-decoration: none;">
        <img src="static/img/profile.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
      </a>
        <h6 class="text-muted">Update your Profile</h6> 
    </div>
  </div>
  
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/usernewform" style="text-decoration: none;">
        <img src="static/img/upcoming.png" alt="" width="100%" style="width: 50px; height: 50px; border: 50%; background: #992621;"> 
      </a>
        <h6 class="text-muted">Upcoming Events</h6> 
    </div>
  </div>
  <div class="row" style="text-align: center; margin: auto;">
    <div class="col-md-2 col-6">
      <div class="user-box">
        <a href="/allschools" style="text-decoration: none;">
          <img src="static/img/news.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
        </a>
          <h6 class="text-muted">News <br> Room</h6> 
      </div>
    </div>
  <div class="col-md-2 col-6">
    <div class="user-box">
      <a href="/information" style="text-decoration: none;">
        <img src="static/img/link.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
      </a>
        <h6 class="text-muted">Connect with other alumni</h6> 
    </div>
  </div>

  <div class="row" style="text-align: center; margin: auto;">
    <div class="col-md-2 col-6">
      <div class="user-box">
        <a href="/allschools" style="text-decoration: none;">
          <img src="static/img/feature-selection.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
        </a>
          <h6 class="text-muted">More Features</h6> 
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="user-box">
        <a href="/usernewform" style="text-decoration: none;">
          <img src="static/img/account.png" alt="" width="100%" style="width: 50px; height: 50px; border-radius: 50%; background: #992621;"> 
        </a>
          <h6 class="text-muted">Settings and More</h6> 
      </div>
  </div>

  
</div>

{% endblock body %}